.fbi{
    margin:50px auto;
    display:flex;
    justify-content: space-around;
}
.counter{
    display:flex;
    justify-content: space-around
    

}
.counter p{
    font-size:1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    padding:20px;
    border:1px solid black;
}
.counter h3{

    border:1px solid black;
    padding:20px;
}